<div class="home-intro">
  <img src="/images/me.png" alt="Isabel Moyano" class="profile-photo">
  <div class="home-text">
    <p class="home-kicker">Hi, I’m</p>
    <h1 class="home-name">Isabel Moyano</h1>
    <p class="home-role">PhD Fellow (FPU) in Linguistics</p>
    <p class="home-group">Area of General Linguistics (Philology Department) @ University of Cádiz</p>
    <p class="home-group">Research Institute of Applied Linguistics (ILA)</p>
    <p class="home-group">Member of <em>Semaínein</em> (HUM-147)</p>
  </div>
</div>
